@{
    ViewBag.Title = "Error";
}

<h2>Error</h2>

<p>Some Error Occured during operation.</p>

<div> 
    <h2> 
    @Html.ActionLink("Click here", "Facebook","Account") to login again into Facebook.</h2>
</div>