@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div align="center">
        <div style="width: 400px; height: 180px; border: 1px solid;">
            <h1 style="height: 50px;">Login</h1>
            <button><a href="/Account/Facebook" style="font-weight: bold; font-size: 20px; text-decoration: none; color: blue;">Login with Facebook</a></button>
        </div>
    </div>
</body>
</html>
