@model IEnumerable<FacebookIntegration.Models.UserEvent>
@{
    ViewBag.Title = "Events";
}

<h1 style="width: 900px; text-align: center;">Events
</h1>

<table style="border: 1px solid; padding: 10px; width: 900px; margin: 30px;">
    <tr style="text-align: left; height: 30px;">
        <th>Event Name
        </th>
        <th>Event Start Date
        </th>
        <th>Event End Date
        </th>
        <th>Event Status
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr style="height: 20px;">
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
        </tr>
    }
</table>

<a href="/User/UserInfo" style="font-weight: bold; font-size: 20px; padding-left: 40px;">Back</a>
